<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pagina do Usuario</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="title">
    <h2>Pagina Inicial</h2><br>

    <tr th:each="reserved : ${reserveds}">
        <td th:text="${reserved.name}"></td>
    </tr>
    <a href="/reseved">Reservar</a>

    <a href="/books"><h4>Livros</h4></a>
    <a href="/users"><h4>Usuarios</h4></a><br>
    <a href="/"><h4>Home</h4></a>

</div>

</body>
</html>